on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.13'
      - uses: aws-actions/setup-sam@v2
      - uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-1
      - run: sam build --use-container
      - run: |
          sam deploy \
            --no-confirm-changeset \
            --no-fail-on-empty-changeset \
            --stack-name FromGitHubActions \
            --resolve-s3 \
            --capabilities CAPABILITY_IAM \
            --parameter-overrides \
              DevOpsAgentWebhookUrl=${{ secrets.DEVOPS_AGENT_WEBHOOK_URL }} \
              DevOpsAgentWebhookSecret=${{ secrets.DEVOPS_AGENT_WEBHOOK_SECRET }}
